@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Roboto&display=swap');


body {
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    color: black;
}

h1{
	font-family: 'Poppins', sans-serif;
}